.card {
    border: 1px solid rgb(7,69,95);
    margin-bottom: 1rem;
    
  }
.flash-card{
  font-size: 3em;
  color: white;
  padding: 3em 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  opacity: 0.7;
  background-color: rgb(7,69,95);
    /* background-image: url("../../assets/images/gold_wizard_hat_720.png");
    background-size: cover; */

}
  .card .card-header {
    padding: 0.375rem;
    background-color: #2d3e50;
    color: #d9e9e8;
  }
  
  .card .card-body {
    padding: 0.375rem;
  }
  
  .card .card-footer {
    border-top: 1px;
    padding: 0.375rem;
    background: transparent
  }
  
  .card.card-rounded {
    border-radius: 0.3rem;
  }
  
  .card.card-rounded .card-header {
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  .element.style {
    backface-visibility: hidden;
    /* height: 50vh;///this was 100% */
    left: 0px;
    position: relative;
    top: 0px;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transition: all 0.6s ease 0s;
    width: 100%;
    z-index: 2;
  }
.card-body{
    background-color: rgba( 7,69,95,.3);
    margin-top: 0;
    backdrop-filter: blur(10px);
  }
.card-header{
  font-size: 40px;
  margin-bottom: 0rem;
}